Current time: {{ current_time | format_time_full }}

ID: {{ memory.id }}

{{ memory.created_at | format_time }}

{{ memory.content }}
{% if memory.marginalia %}
{% if memory.marginalia.importance %}

Importance: {{ memory.marginalia.importance }}/5
{% endif %}
{% if memory.marginalia.entities %}

Entities: {{ memory.marginalia.entities | join(", ") }}
{% endif %}
{% if memory.marginalia.unknown_entities %}

Unknown entities: {{ memory.marginalia.unknown_entities | join(", ") }}
{% endif %}
{% if memory.marginalia.keywords %}

Keywords: {{ memory.marginalia.keywords | join(", ") }}
{% endif %}
{% if memory.marginalia.summary %}

Summary: {{ memory.marginalia.summary }}
{% endif %}

Full marginalia: {{ memory.marginalia }}
{% endif %}