{{ current_time }}

Cluster {{ cluster_id }} [{{ memory_count }} {{ 'memory' if memory_count == 1 else 'memories' }}, {{ time_span }}]

{% for memory in memories %}
{{ loop.index }}. [{{ memory.timestamp }}{{ memory.relative_time }}] {{ memory.content }}

{% endfor %}